@font-face {
    font-family: ExocetL;
    src: url("../assets/fonts/films.EXL_____.ttf");
}

@font-face {
    font-family: ExocetH;
    src: url("../assets/fonts/films.EXH_____.ttf");
}

.normalFont {
    font-family: Verdana, Geneva, sans-serif;
    color:rgba(100, 27, 27, 0.85);
}

.centered {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
}

* {
    font-family: ExocetL, Trebuchet MS;
}

html {
    background-image: url("../assets/bg-dark.png");
    background-repeat: repeat;
}



html, body, #app { width: 100%; height: 100%; }

body {
    color: white;
}

#sidebar {
    position: fixed; top: 0; bottom: 0; left: 0; z-index: 10;
    height: 100%; width: 100%;
    background-color: #232a35;
    transform: translateX(-100%) translateY(0) translateZ(0);
    transition: transform .28s ease-out, -webkit-transform .28s ease-out;
}

#gameScreen {
    width: 100%; height: 100%;
    background-size: cover; background-image: linear-gradient(rgba(0, 0, 0, .75),rgba(0, 0, 0, .75)), url(bk.jpg); background-position: center;
}

.navbar {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

ul.navbar li {
    float:left;
}

ul.navbar li a {
    display: block;
    color: red;
    font-weight:bold;
    padding: 8px 16px;
    text-decoration: none;
}

ul.navbar li:last-child {
    margin-left: auto;
}

#heroPortrait {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
}

/* ENEMY HERE NEXT. JUST NAME AND STATS BELOW. SAME BOX AS BATTLE LOG??? HP BARS ASWELL ^^^ */


#userInterface-battlelog-div {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.829);
    border-radius: 25px;
    color: white;
    font-size: 0.9vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30vh;
    margin: auto;
    width: 25vw;
    padding: 1vw;
    cursor: default;
}

#userInterface-enemy-div {
    background-color: rgba(0, 0, 0, 0.829);
    border-radius: 25px;
    text-align: center;
    color: white;
    font-size: 0.9vw;
    position: relative;
    left: 70vw;
    top: -5vh;
    height: 30vh;
    width: 15vw;
    padding: 1vw;
    cursor: default;
}

#userInterface-battlelog-div-paragraphs {
    position: relative;
    overflow-y: auto;
    height: 22vh;
}

small {
    font-size: 10px;
}

#userInterface-attackButton {
    background:rgba(100, 27, 27, 0.85);
    color: white;
    position: absolute;
    top: 10%;
    left: 40%;
    width: 20%;
    height: 15%;
}

.idleButton {
    background:rgba(100, 27, 27, 0.85);
    border-top: 0px solid transparent;
    color: white;
    position: absolute;
    top: 25%;
    left: 45%;
    width: 10vw;
    height: 5vh;
}

.normalDamage {
    color: red;
}

#userInterface-character-stats {
    position: relative;
    max-width: 12em;
    top: 25vh;
    left: 16vw;

    height: 30vh;
    width: 15vw;
    padding: 1vw;
}

.purple {
    color: purple;
}